body
{
  Background-color: #090909;
 
}

H1
{
  Background-color: #383D58;
  color: white;
}

H2
{
  Background-color: #b60909;
  color: rgb(1, 0, 5);
}

H3
{
  Background-color: #34cee9;
  color: rgb(106, 3, 3);
}
